// Colors
$mainColor  : #9E3CD7;
$limeColor  : #59E800;
$blueColor  : #006DFF;
$orangeColor: #FF9300;

// Gradient LIst

$pinkGrad  : #D850CD, #FD7Fb6;
$blueGrad  : #3B9DFF, #304FFE;
$purpleGrad: rgb(36,40,89), rgba(64,55,111, 0.95);
// $purpleGrad: #BD66DE, #5046CE;


// Fonts color
$fontColor: #FFFFFF;
// Fonts name
$mainFont     : "Montserrat";
$secondaryFont: "Poppins";

// Fonts weight
$reg  : "regular";
$med  : "medium";
$sbol : "semi-bold";
$light: "light";

// Fonts size





