@mixin gradient($direction, $list) { 
    background: linear-gradient($direction, $list);  
  }

@mixin gradientBadget($direction, $list) { 
    background: linear-gradient($direction, $list);  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

@mixin font($name,$weight){
    font-family: $name, sans-serif;
    font-weight: $weight;
  }