// Colors
$mainColor  : #9E3CD7;
$limeColor  : #59E800;
$blueColor  : #006DFF;
$orangeColor: #FF9300;
$whiteColor : #fff;
 
// Gradient LIst
$pinkGrad  : #D850CD, #FD7Fb6;
$blueGrad  : #3B9DFF, #304FFE;
$purpleGrad: rgb(36,40,89), rgba(64,55,111, 0.95);
// $purpleGrad: #BD66DE, #5046CE;

// Alpha
$alphaDark: 0.14;
$alphaMed: 0.4;
$alphaLight: 0.8;

// Fonts color
$fontColor: #fff;

// Fonts name
$mainFont     : "Montserrat";
$secondaryFont: "Poppins";

// Fonts weight
$reg  : "regular";
$med  : "medium";
$sbol : "semi-bold";
$light: "light";

// Fonts size





